<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="assets/css/all.css">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/responsive.css">

  <link rel="canonical" href="{{ page.url }}">

  <title>Friends Of Coal Ridge</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script defer src="assets/libs/bootstrap/bootstrap.bundle.min.js"></script>
  <script defer src="assets/js/jquery.easing.min.js" async></script>
  <script defer src="assets/js/theme.js" async></script>
</head>
<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-togglable  fixed-top " id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <h2>Coal Ridge Church & Museum</h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon-bar">
                    <i class="fa fa-bars"></i>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/sermons">
                            Sermons
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/about">
                            About
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="section section-top section-full">
        <div class="bg-cover"></div>
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-10 col-lg-7 ">
                    <div class="banner-content">
                        <p class="text-white text-uppercase text-center text-xs">
                        </p>
                        <h1 class="text-white text-center mb-4 display-5 font-weight-bold">
                          Let us help each other to love others and to do good. Let us not stay away from church meetings. Some people are doing this all the time. Comfort each other as you see the day of His return coming near.
                        </h1>
                        <p class="lead text-white text-center mb-5">
                          Hebrews 10:24-25
                        </p>
                        <p class="text-center mb-0" >
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="aboutone">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-lg-12 text-center">
                    <h2 class="lg-title mb-2 pb-3">THE DEMISE OF COALPORT</h2>

                    <p class="mb-5">Coalport residents living in the lowlands suffered many,many tragedies from the ravages of the unpredictable Des Moines River. And then the flood of 1903 came. The people of the community rallied together to save their possessions. The rains continued and the people prayed. Finally the water began to recede.By some quirk of fate the flood had caused the river to develop a new channel and the "meandering loop" was replaced by a straight flow of water down the Des Moines River. The result was devastating. The waterway,once to the front door of Coalport,was now some distance away.The settlement of Coalport was dissolved almost as quickly as it had developed.</p>

                    <p class="mb-5">Coal Ridge Church and the one-room school were left to serve the farming community that remained. </p>

                    <p class="mb-5">(This History of the Coal Ridge Church is the result of dedicated research by Dr.Joyce B. Huizer) </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="abouttwo">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-lg-12 text-center">
                    <h2 class="lg-title mb-2 pb-3"> COAL RIDGE CHURCH </h2>

                    <p class="mb-5"> The original church building was constructed in 1860 at a cost of $600.00.  It was a wooden structure.The foundation was of hand hewn stone with the work donated by the craftsman,William A.Crouch.  The cornerstone bore his initials, WAC.  </p>

                    <p class="mb-5"> The church burned on October 11,1908. On that particular Sunday morning a fire had been built in the pot-bellied stove to warm the building for services planned.A short time later,people in the neighborhood noted flames shooting from the roof. Because there was no water available on the site,community members stood by helplessly while the fire quickly consumed the building."The hungry fire gods had fallen upon it and,save a few stones and charred timbers,nothing remained of that dear old sanctuary but a sweet memory sanctified by the tears and prayers and songs and sermons laid upon the altar there so long ago." (McCown).The cornerstone inscribed WAC was all that was salvaged.  </p>

                    <p class="mb-5">A business meeting was held on Monday night, October 12th at the school house.The decision was made to rebuild immediately. The plans included use of the 'old cornerstone inscribed WAC." Services were held in the schoolhouse during the construction of the new church.</p>

                    <p class="mb-5">The lumber for the new building was from local trees and millwork was done at the Coalport Sawmill. Much of the construction was done with volunteer labor and the cost of the new structure,itemized in the April 3, 1909 church record,came to a total of $1625.05. Only $252.05 of that amount was for labor. Dedication services were held on February 23, 1909.</p>

                    <p class="mb-5">A major restoration project was undertaken by the Coal Ridge Ladies' Aid group in the late 1980s. A new roof,new interior flooring,insulation,painting and refinishing projects were completed. The goal was to retain the original character of the building and to preserve the rich heritage of Coal Ridge. The windows in the building were deteriorated,but the budget did not allow replacement. A campaign was initiated for providing windows as a memorial to a loved one. In a short time replacement of each window was pledged.</p>

                    <p class="mb-5">With the restoration completed, a Coal Ridge Church Celebration was held the last week-end in May, 1991. It included a Re-dedication Service on Sunday.It was both a homecoming reunion and a time to set new sights for the church "on the ridge."</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="aboutthree">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-lg-12 text-center">
                    <h2 class="lg-title mb-2 pb-3">THE NATIONAL REGISTER OF HISTORICAL PLACES</h2>
                    <p class="mb-5">The work required to nominate a building to be included on the National Register of Historical Places is long and arduous.The thorough study of the historic value of a site includes as inspection of the building itself,interviews with area residents with a long family history at the church,records at the Marion County Court House in Knoxville,books,such as "Down on the Ridge", by Alfred B. McCown,and much more.</p>
                    <p class="mb-5">A key figure in the interviewing was Mr. William Franklin,whose family were prominent members of the church through many  generations.Unfortunately,neither William,nor his wife,Marjorie,lived to celebrate the successful nomination.</p>
                    <p class="mb-5">Studying the construction of the church itself revealed timbers from locally available trees,oak,red elm,walnut and others, had been hand hewn by the local craftsmen. Their loving and skillful labors resulted in an edifice of pleasing lines and beautiful acoustics.</p>
                    <p class="mb-5">As Mr. Page uncovered more and more of the history,he became convinced that the cemetery should also be included in this national recognition. Instead of nominating a single building,he nominated the church with the cemetery as as an historic district. The cemetery, after all , is itself a significant historical record of the families who were important to this area from the earliest times as a coal mining community.</p>
                    <p class="mb-5">The work completed,Mr. Page submitted his sizeable study to the State Board, and defended his work before them on June 9,2006.With approval at the state level the project was sent on to the national level.On August 23, 2006,Mr.Page was notified that the nomination was successful.Coal Ridge Church and Cemetery are now listed on the National Register of Historic Places.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="aboutfour">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-lg-12 text-center">
                    <h2 class="lg-title mb-2 pb-3">NAME QUILT</h2>
                    <p class="mb-5">This quilt was made  by members of the Coal Ridge Ladies' Aid In about 1950. It was donated by the Bailey family.</p>
                    <p class="mb-5">Quilt making has a long tradition with the Ladies'Aid. A news item from the October 13,1949 Knoxville Journal reads, "The Coal Ridge Ladies Aid met at the home of Mrs. Robert Nichols Wednesday afternoon to make Friendship quilt blocks for the ladies that are moving away and to fill a White Cross box that the Aid will send overseas."</p>
                    <p class="mb-5">The Coal Ridge Ladies' Aid was organized on March 22, 1913, The first money making project recorded in the church history was a "Name Quilt". Ladies who wished their names included on the quilt were asked to make a donation for that purpose and the amount collected was $ 10.95. The quilt was auctioned at the 'First ice cream supper" held in August,1913. It was sold to the highest bidder  for $ 11.25. The net profit of the ice cream supper was $ 21.41.</p>
                    <p class="mb-5">Church bazaars were common during the early 1900s. This was a time for picnic dinners,ice cream socials,and auctions where hand-made items were sold to raise money for the church. It was both a social gathering and a time to show support for the religious values of the community.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <footer class="top-padding bg-dark">
        <!--Content -->
        <div class="container">
            <div class="row align-self-center">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <a href="#" class="footer-brand text-white">
                            Coal Ridge Church & Museum
                        </a>
                        <p>If you love to study the Scriptures then join us on Sunday at 5:00pm for a time of Worship and diving into the Word of God.</p>
                    </div>
                </div>

                <div class="col-lg-1 ml-lg-auto col-md-1">
                </div>
                <div class="col-lg-4 col-md-5">
                    <ul class="footer-link list-unstyled ml-0 justify-content-end">
                        <li>
                            <i class="fa fa-at"></i> friendsofcoalridge@yahoo.com
                        </li>
                        <li>
                            <i class="fa fa-location-arrow"></i> Knoxville, Iowa
                        </li>
                        <li>
                            <i class="fa fa-user"></i> Todd Rowland
                        </li>
                    </ul>
                </div>
            </div>
            <!-- / .row -->

            <div class="row justify-content-md-center footer-copy">
                <div class="col-lg-8 col-md-6 col-sm-12 text-center">
                    <p class="lead copy text-white-50">&copy; Friends Of Coal Ridge 2019</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
