<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="assets/css/all.css">

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/responsive.css">

  <link rel="canonical" href="{{ page.url }}">

  <title>Friends Of Coal Ridge</title>

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script defer src="assets/libs/bootstrap/bootstrap.bundle.min.js"></script>
  <script defer src="assets/js/jquery.easing.min.js" async></script>
  <script defer src="assets/js/theme.js" async></script>
</head>
<body id="page-top">
  <h1>TORAN</h1>
</body>
</html>
